In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
udp = pd.read_csv("drive/MyDrive/Dataset/UDPLag.csv")

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (85) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
udp_cols = list(udp.columns.values)

In [ ]:
print("UDP= ",udp.shape)
print("min =", min(udp.shape))

UDP=  (725165, 88)
min = 88

In [ ]:
print("BENIGN= ",udp.shape)
print("min =", min(udp.shape))

BENIGN=  (725165, 88)
min = 88

In [ ]:
ld =udp.iloc[:191694,]
ld.to_csv("drive/MyDrive/Dataset/DataProcess/UdpLag1.csv")

In [ ]:
import pandas as pd 
udp = pd.read_csv("drive/MyDrive/Dataset/DataProcess/UdpLag1.csv")

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (86) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
udp.head()

,Unnamed: 0,Unnamed: 0.1,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,...,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,SimillarHTTP,Inbound,Label
0,0,50880,172.16.0.5-192.168.50.4-35468-49856-17,172.16.0.5,35468,192.168.50.4,49856,17,2018-11-03 11:01:43.652742,47,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,UDP
1,1,83164,172.16.0.5-192.168.50.4-44167-44225-17,172.16.0.5,44167,192.168.50.4,44225,17,2018-11-03 11:01:43.653107,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,UDP
2,2,49389,172.16.0.5-192.168.50.4-36215-28771-17,172.16.0.5,36215,192.168.50.4,28771,17,2018-11-03 11:01:43.653383,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,UDP
3,3,34687,172.16.0.5-192.168.50.4-44168-43679-17,172.16.0.5,44168,192.168.50.4,43679,17,2018-11-03 11:01:43.653386,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,UDP
4,4,87466,172.16.0.5-192.168.50.4-52334-44960-17,172.16.0.5,52334,192.168.50.4,44960,17,2018-11-03 11:01:43.653387,880701,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,UDP

In [ ]:
udp.describe()

,Unnamed: 0,Unnamed: 0.1,Source Port,Destination Port,Protocol,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Inbound
count,191694.000000,191694.000000,191694.000000,191694.000000,191694.000000,1.916940e+05,191694.000000,191694.000000,191694.000000,1.916940e+05,...,1.916940e+05,1.916940e+05,1.916940e+05,1.916940e+05,1.916940e+05,1.916940e+05,1.916940e+05,1.916940e+05,1.916940e+05,191694.000000
mean,95846.500000,155793.322754,43895.821351,32614.382824,12.609993,1.350278e+07,5.268490,1.293817,867.142075,1.173472e+02,...,-1.489625e+07,3.388963e+04,5.782725e+04,1.157635e+05,2.172486e+03,3.398700e+06,1.155071e+06,4.739011e+06,2.263723e+06,0.978836
std,55337.435588,167150.588455,12845.992680,19069.898561,5.389508,2.478018e+07,5.475156,5.261214,1239.302385,6.751533e+03,...,1.249349e+08,2.090223e+05,3.261613e+05,6.405145e+05,8.962365e+04,6.606325e+06,2.632616e+06,9.178102e+06,4.759813e+06,0.143931
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,1.000000,0.000000,0.000000,0.000000e+00,...,-1.062719e+09,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,47923.250000,41579.250000,37027.000000,16138.000000,6.000000,2.000000e+00,2.000000,0.000000,60.000000,0.000000e+00,...,8.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000
50%,95846.500000,84214.500000,45046.000000,32617.000000,17.000000,1.059160e+05,4.000000,0.000000,758.000000,0.000000e+00,...,2.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000
75%,143769.750000,227792.500000,53452.000000,49186.750000,17.000000,9.855565e+05,6.000000,2.000000,1398.000000,1.200000e+01,...,2.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000
max,191693.000000,610879.000000,65532.000000,65534.000000,17.000000,1.199975e+08,492.000000,789.000000,66195.000000,1.406368e+06,...,4.010000e+02,1.231520e+07,6.287717e+06,1.441092e+07,1.231520e+07,9.485548e+07,3.418691e+07,9.485548e+07,9.485548e+07,1.000000

In [ ]:
ds = pd.concat([udp])

In [ ]:
ds.to_csv("drive/MyDrive/Dataset/DataProcess/UDPLagProcess.csv")